/* @font-face {
    font-family: 'New';
    src: url(../fonts/001_Mason_Chronicles.ttf);
} */

.font_type {
    width: 80vw;
    display: flex;
    margin: 5px auto;
    padding: 10px 20px;
    background-color: lightgrey;
    font-size: 25px;
    /* font-family: 'New'; */
}